<div class="container mt-5 pt-5 w-50">
    <h2>Create Account</h2>
    {{!-- Navigation bar --}}
    <div class="container-fluid fixed-top">
        <div class="navbar fixed-top bg-dark-subtle border-bottom border-primary" id="navbarNav">
            <a class="navbar-brand" href="/"><img height="40" src="/pictures/icon.png"/></a>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/search">Flight Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book">Book Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reservations">My Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bold" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <button class="btn"><i id="toggleDark" class="bi bi-sun-fill"></i></button>
                </li>
            </ul>
        </div>
    </div>

    {{#if error}}
        <div class="alert alert-danger">Registration failed. Try again.</div>
    {{/if}}

    <form action="/register" method="POST">

        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input name="firstname" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input name="lastname" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input name="email" type="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required>
        </div>

        <button class="btn btn-success w-100">Register</button>

        <div class="mt-3">
            Already have an account? <a href="/login">Login here</a>
        </div>
    </form>
</div>
<br>