<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Management</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="bg-secondary-subtle text-bg-dark">
    <main class="container-fluid px-5 mt-4">
        {{{body}}}   
    </main>

    <div class="text-center pb-3 text-secondary">
        <small>© 2025 jetBlue Airlines — All Rights Reserved</small>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            const msg = $('.form-msg');
            const title = $('#title');
            const flightList = $('#flight-list');
            if (msg.length) {
                title.removeClass('mt-5');
                setTimeout(() => {msg.alert('close'); }, 3000); // hides after 3 seconds

                msg.on('closed.bs.alert', function () {
                    title.addClass('mt-5');
                });
            } else {
                $('#title').addClass('mt-5');
            }

            const depDay = $('#departureDay').val();
            const arrDay = $('#arrivalDay').val();

            if (depDay) {
                $('#editDepDay').text(depDay);
                $('#editDepartureDay').val(depDay);
            }

            if (arrDay) {
                $('#editArrDay').text(arrDay);
                $('#editArrDay').val(arrDay);
            } 
            $('.depDay').on('click', function(){
                    let choice = $(this).text().trim();
                    $('#depDay').text(choice);
                    $('#editDepDay').text(choice);
                    $('#departureDay').val(choice);
                    $('#editDepartureDay').val(choice);
            });

            $('.arrDay').on('click', function(){
                    let choice = $(this).text().trim();
                    $('#arrDay').text(choice);
                    $('#editArrDay').text(choice);
                    $('#arrivalDay').val(choice);
                    $('#editArrivalDay').val(choice);
            });
        });
    </script>
</body>
</html>
