<!-- navbar -->
<div class="container-fluid fixed-top">
    <div class="navbar fixed-top bg-dark-subtle border-bottom border-primary" id="navbarNav">
        <a class="navbar-brand" href="/"><img height="40" src="/pictures/icon.png"/></a>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/flights">Flight Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/book">Book Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reservations">My Reservations</a>
            </li>
        </ul>
    </div>
</div>

<!-- header -->
<div class="container text-center pt-5 mt-5">
    <h1 class="display-5 text-center text-primary">Book Flights</h1>
    <p class="lead">Answer the reservation form to book your flight</p>
</div>

<!-- form -->
<div class="container mt-4 mb-5 position pt-2 shadow-lg rounded-3 bg-dark-subtle border border-primary" id="form-p1">
    <div class="container mt-4 mb-4 justify-content-center">
        
    </div>
</div>